.homepage-top{
    display: flex;
    flex-direction: column;
    position:relative;
    width:100vw;
    overflow: hidden;
    .home-image{
        z-index: -2;
    }
    .top-uppertext{
        display: flex;
        position:absolute;
        top:65vh;
        width: 98vw;
        justify-content: center;
        font-size: 25px;
        font-weight: 400;
        color:white;
        z-index:-1; 
    }
    .top-lowertext1{
        display: flex;
        position:absolute;
        top:70vh; 
        width: 98vw;
        justify-content: center;
        font-size: 70px;
        font-weight: 700;
        color:white; 
        z-index:-1; 
    }
    .top-lowertext2{
        display: flex;
        position:absolute;
        top:85vh;
        width: 98vw;
        justify-content: center;
        font-size: 70px;
        font-weight: 700;
        color:white; 
        z-index:-1; 
    }
    .request{
        display: flex;
        position: absolute;
        margin-left:10vw;
        margin-right:10vw;
        bottom:0px;
        flex-direction: column;
        .request-top{
            width:21%;
            display: flex;
            border: 1px solid orangered;
            border-radius: 8px 8px 0px 0px;
            background-color: orangered;
            color: white;
            padding:8px 35px 8px 35px;
            font-size: 11px;
        }
        .request-bottom{
            display: flex;
            border: 1px solid rgb(47, 43, 65);
            background-color: rgb(47, 43, 65);
            color:white;
            align-items: center;
            justify-content: center;
            height:100px;
            width: 80vw;
        }
    }
    .home-top-form{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:74vw;
        .form-component{
            height:40px;
            border-radius: 5px;
            padding-left:15px;
            font-weight: 400;
            font-size: 16px;
            border:none;
            width: 17%;
        }
        .form-button{
            background-color: #ff5100;
            height:40px;
            width:15%;
            padding-left:15px;
            padding-right:25px;
            border-radius: 5px;
            font-weight:500;
            font-size:14px;
            border: 1px solid #ff5100;
            display: flex;
            align-items: center;
            justify-content: center;
            color:white;
            &:hover{
                color: #ff5100;
                background-color: white;
            }
            .link-icon{
                font-size: 18px;
            }
        }
    }

}
.middle1{
    display: flex;
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
    margin-bottom: 120px;
    .middle1-left{
        position: relative;
        flex:1;
        .electrician-image{
            position: absolute;
            z-index: -2;
            width: 670px;
        }
        .transformer-image{
            z-index: -1;
            position: absolute;
            width: 380px;
            height: 250px;;
            bottom: 60px;
            left: -40px;
            box-shadow: 0px 1px 8px grey;
        }
    }
    .middle1-right{
        position: absolute;
        right:20px;
        flex: 1;
        margin-top: 30px;
        background-color: white;
        height: 100%;
        width: 500px;
        padding-top: 60px;
        padding-left: 80px;
        padding-right: 60px;
        .middle1-right-top{
            h1{
                font-size: 16px;
                font-weight: 500;
                color:#ff5100;
            }
            h2{
                margin-top: 10px;
                margin-bottom: 10px;
                color: #303442;
                font-size: 40px;
                letter-spacing: 1px;
            }
            p{
                margin-top: 20px;
                margin-bottom: 10px;
                color: grey;
                line-height: 1.5;
            }
            ul{
                list-style-type: none;
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.8;
            }
            li{
                color: #303442;
                display: flex;
                align-items: center;
                .done-icon{
                    color:#ff5100;
                    padding-right: 10px;
                }
            }

        }
        .middle1-right-bottom{   
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 10px;
            width: 400px;
            .profile-image{
                width: 5vw;
                border-radius: 50%;
            }
            .middle1-right-bottom-text{
                h1{
                    font-size: 16px;
                    font-weight: 700;
                    color: #303442;
                }
                h2{
                    font-size: 14px;
                    font-weight: 500;
                    color: #AE9A8C;
                }
            }
            .middle1-right-midLine{
                margin: 5px;
                outline: 1px solid #dddddd;
                height: 50px;
            }
            .signature-image{
                width: 8vw;
            }
        }
    }
}