.footer{
    width:99vw;
    height:100px;
    background-color: rgb(73, 73, 73);
    color: white;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}